body {
  font-family: Arial;
  margin: 0;
  background: #f4f4f4;
}

header {
  background: #111;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin: 10px;
  text-decoration: none;
}

section {
  padding: 40px;
}

#inicio {
  background: #007BFF;
  color: white;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input, textarea {
  margin: 5px 0;
  padding: 10px;
}

button {
  background: #007BFF;
  color: white;
  border: none;
  padding: 10px;
}